<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0bede628f2.js" crossorigin="anonymous"></script>
    
    <title>
        {% block title %} {% endblock %}
    </title>

    {% block page_styles %} {% endblock %}

</head>

<body>
    <!-- Alerts should show at the top -->

    <div class="container-fluid p-0 m-0">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger m-0" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        {% endif %}
        {% endwith %}
    </div>
    
    <!-- Top Navigation will be in main template and will only be shown if user is logged in -->
    {% if current_user.is_authenticated %}
        {% include 'topnav.html' %}
    {% endif %}


    <!-- Side nav will also be here... But will also only be shown IF user is logged in -->
    <div class="container-fluid">
        <div class="row">
            {% if current_user.is_authenticated %}
                {% if current_user.user_type == 'superadmin'%}
                    {% include 'admin/sidenav.html' %}
                {% elif current_user.user_type == 'lecturer' %}
                    {% include 'lecturer/sidenav.html' %}
                {% else %}
                {% include 'cetl/sidenav.html' %}

                {% endif %}

            {% endif %}
            <div class="col">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

        {% block page_scripts %} {% endblock %}
</body>

</html>